/* --- SCENE 3 --- */

.scene3_1 {
    display: none;
}

.scene3_1 .astronaut {
    grid-area: 3 / 1 / 13 / 6;
    justify-self: end;
    width: 120%;
}

/* scene 3.2 */

.scene3_2 {
    display: none;
}

.scene3_2 .astronaut {
    grid-area: 3 / 1 / 13 / 5;
    justify-self: end;
    width: 120%;
}

.scene3_2 .gif {
    grid-area: 5 / 7 / 13 / 11;
    width: 100%;
}

/* scene 3.3 */

.scene3_3 {
    background-image: url(img/baggrunde/nr5.jpg);
    background-position: center;
    display: none;
}

.scene3_3 .astronaut {
    align-self: end;
    grid-area: 5 / 2 / 12 / 4;
}

.scene3_3 .gryde {
    align-self: end;
    grid-area: 7 / 6 / 11 / 9;
}

.scene3_3 .kulde {
    display: flex;
    gap: 5%;
    grid-area: 9 / 11 / 12 / 13;
    max-width: 100%;
}

.scene3_3 .kulde .termo {
    rotate: 10deg;
}

.scene3_3 .kulde .info_txt {
    align-self: flex-start;
    color: var(--astronaut);
    font-size: 2rem;
    padding-top: 10%;
}

.scene3_3 .sne1 {
    grid-area: 8 / 5 / 9 / 6;
    width: 30%;
}

.scene3_3 .sne2 {
    grid-area: 5 / 8 / 6 / 9;
    justify-self: center;
    width: 50%;
}

.scene3_3 .sne3 {
    align-self: end;
    grid-area: 7 / 10 / 8 / 11;
    justify-self: center;
    width: 40%;
}

.scene3_3 .sne4 {
    grid-area: 4 / 4 / 5 / 5;
    justify-self: center;
    width: 45%;
}

/* scene 3.4 */

.scene3_4 {
    display: none;
}

.scene3_4 .astronaut {
    grid-area: 8 / 1 / 13 / 4;
    justify-self: end;
    width: 130%;
}

.scene3_4 .gif {
    align-self: center;
    grid-area: 1 / 4 / 13 / 10;
    justify-self: center;
    max-width: 90%;
}

/* scene 3.5 */

.scene3_5 {
    background-image: url(img/baggrunde/nr5.jpg);
    background-position: center;
    /* display: none; */
}

.scene3_5 .astronaut {
    align-self: end;
    grid-area: 5 / 2 / 12 / 4;
}

.scene3_5 .gryde {
    align-self: end;
    grid-area: 7 / 6 / 11 / 9;
}

.scene3_5 > .termo {
    grid-area: 9 / 11 / 12 / 12;
    rotate: 10deg;
    width: 45%;
}

.scene3_5 .stjerne_rod {
    grid-area: 3 / 8 / 6 / 10;
    position: relative;
}

.scene3_5 .stjerne_rod .stjerne {
    align-self: end;
    width: 60%;
}

.scene3_5 .stjerne_rod .termo {
    align-self: end;
    position: absolute;
    width: 20%;
}

.scene3_5 .stjerne_blaa {
    width: 10%;
}