@import url('https://fonts.googleapis.com/css2?family=Gluten:wght@100..900&display=swap');

:root {
    --astronaut: #fff1e6;
    --astronaut_skygge: #EEE4DB;
    --baggrund: #091b2f;
    --ramme: #151515;
    --dark_neutral: #363636;
}

body {
    overflow-x: hidden;
    overflow-y: hidden;
    border: 50px solid var(--ramme);
    width: 100vw;
    height: 100vh;
    background-color: var(--baggrund);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
}

p {
    font-family: gluten;
    font-size: 3rem;
    color: var(--ramme);
    text-align: center;
    grid-area: 12 / 1 / 13 / 13;
    align-self: end;
    translate: 0 20px;
    z-index: 9999;
}

p span {
    background-color: var(--astronaut);
    border: 3px solid var(--dark_neutral);
    padding: 10px;
}