/* --- Link til Google Font --- */
@import url('https://fonts.googleapis.com/css2?family=Gluten:wght@100..900&display=swap');

/* --- Variabler til farvepallette --- */

:root {
    --astronaut: #fff1e6;
    --astronaut_skygge: #EEE4DB;
    --baggrund: #091b2f;
    --ramme: #151515;
    --dark_neutral: #363636;
    --accent: #fd9843;
}

body {
    overflow-x: hidden;
    overflow-y: hidden;
    border: 50px solid var(--ramme);
    width: 100vw;
    height: 100vh;
    background-color: var(--baggrund);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

/* --- TEKSTBOKS --- */

p {
    font-family: gluten;
    font-size: 3rem;
    color: var(--ramme);
    text-align: center;
    grid-area: 3 / 1 / 4 / 4;
    align-self: end;
    translate: 0 20px;
    z-index: 9999;
}

p span {
    background-color: var(--astronaut);
    border: 3px solid var(--dark_neutral);
    padding: 10px;
}

/* --- Grid til underscenerne --- */

.subscene {
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-area: 1 / 1 / -1 / -1;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
}

/* Ekstra ramme, der dækker astronauten i bunden */
.ramme_bund {
    border-bottom: 50px solid var(--ramme);
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 8888;
}

/* Ekstra ramme der dækker astronauten i venstre side */
.ramme_venstre {
    border-left: 50px solid var(--ramme);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    z-index: 8888;
}

/* ----------- SCENE 1 -------------- */

.scene0 {
    background-image: url(img/baggrunde/nr1.jpg);
    background-position: center;
}

.scene0 .astronaut {
    grid-area: 7 / 4 / 12 / 5;
}

.scene0 .btn {
    align-self: center;
    background-color: var(--accent);
    border: none;
    border-radius: 3rem;
    box-shadow: 0px 10px 5px var(--astronaut);
    color: var(--ramme);
    cursor: pointer;
    font-family: gluten, sans-serif;
    font-size: 4rem;
    grid-area: 7 / 8 / 9 / 11;
    padding: 8% 0;
    text-align: center;
    text-decoration: none;
}

.scene0 .btn:hover,
.scene0 .btn:focus {
    box-shadow: none;
    translate: 0 10px;
}

/* --- Scene 1.1 --- */

.scene1_1 {
    background-image: url(img/baggrunde/nr1.jpg);
    background-position: center left;
    display: none;
}

.scene1_1 .astronaut {
    grid-area: 7 / 4 / 12 / 5;
}

/* --- Scene 1.2 --- */

.scene1_2 {
    background-image: url(img/baggrunde/nr2.jpg);
    background-position: top center;
    display: none;
}

.scene1_2 .astronaut {
    grid-area: 6 / 5 / 13 / 9;
}

/* --- Scene 1.3 --- */

.scene1_3 {
    background-image: url(img/baggrunde/nr3.jpg);
    background-position: top center;
    display: none;
}

.scene1_3 .astronaut {
    grid-area: 7 / 2 / 13 / 7;
}

/* ----------- SCENE 2 -------------- */

/* --- Scene 2.1 --- */

.scene2_1 {
    background-image: url(img/baggrunde/nr4.jpg);
    background-position: top center;
    display: none;
}

.scene2_1 .astronaut {
   grid-area: 5 / 1 / 13 / 6;
   justify-self: end;
   width: 110%;
   transform: rotate(15deg);
}

.scene2_1 .kolbe {
    grid-area: 4 / 8 / 9 / 11;
    rotate: -40deg;
}

/* --- Scene 2.2 --- */

.scene2_2 {
    display: none;
}

.scene2_2 .astronaut {
    grid-area: 4 / 1 / 13 / 5;
    justify-self: end;
    width: 130%;
    transform: rotate(15deg);
}

.scene2_2 .gas {
    grid-area: 1/6/4/9;
}

.scene2_2 .grundstof {
    grid-area: 5/10/7/13;
    transform: rotate(15deg);

}

.scene2_2 .salt {
    grid-area: 8/7/10/10;
}

/* --- Scene 2.3 --- */

.scene2_3 {
    background-image: url(img/baggrunde/nr3.jpg);
    background-position: top center;
    display: none;
}

.scene2_3 .astronaut {
    align-self: center;
    grid-area: 10 / 4 / 13 / 5;
    width: 80%;
}

.scene2_3 .komet {
    grid-area: 6 / 1 / 10 / 4;
    justify-self: center;
    rotate: 110deg;
    width: 75%;
    z-index: 1;
}

.scene2_3 .grundstof {
    align-self: center;
    grid-area: 8 / 2 / 10 / 3;
    rotate: 25deg;
}

.scene2_3 .raket {
    grid-area: 8 / 6 / 12 / 8;
    rotate: -80deg;
    z-index: 1;
}

.scene2_3 .gas {
    grid-area: 7 / 6 / 9 / 8;
}

.scene2_3 .stjerne {
    grid-area: 6 / 9 / 8 / 12;
    justify-self: center;
    width: 60%;
}

.scene2_3 .salt {
    grid-area: 7 / 11 / 9 / 12;
}

/* --- Scene 2.4 --- */

.scene2_4 {
    display: none;
}

.scene2_4 .astronaut {
    grid-area: 3/2/13/9;
}

.scene2_4 .kolbe {
    grid-area: 1/8/6/11;
    transform: rotate(320deg);
    width: 110%;
}

/* ----------- SCENE 3 -------------- */

.info_txt {
    color: var(--astronaut);
    font-size: 2rem;
}

.scene3_1 {
    display: none;
}

.scene3_1 .astronaut {
    grid-area: 4 / 1 / 13 / 5;
    justify-self: end;
    width: 120%;
}

.scene3_1 .gif {
    grid-area: 1 / 6 / 13 / 13;
}

/* --- Scene 3.2 --- */

.scene3_2 {
    display: none;
}

.scene3_2 .astronaut {
    grid-area: 3 / 1 / 13 / 5;
    justify-self: end;
    width: 120%;
}

.scene3_2 .gif {
    grid-area: 2 / 6 / 13 / 12;
    width: 100%;
}

/* --- Scene 3.3 --- */

.scene3_3 {
    background-image: url(img/baggrunde/nr5.jpg);
    background-position: center;
    display: none;
}

.scene3_3 .astronaut {
    align-self: end;
    grid-area: 5 / 2 / 12 / 4;
}

.scene3_3 .gryde {
    align-self: end;
    grid-area: 8 / 6 / 12 / 9;
}

.scene3_3 .kulde {
    display: flex;
    gap: 5%;
    grid-area: 9 / 11 / 12 / 13;
    max-width: 100%;
}

.scene3_3 .kulde .termo {
    rotate: 10deg;
}

.scene3_3 .kulde .info_txt {
    align-self: flex-start;
    padding-top: 10%;
}

/* snefnug */

.scene3_3 .sne1 {
    grid-area: 8 / 5 / 9 / 6;
    width: 30%;
}

.scene3_3 .sne2 {
    grid-area: 5 / 8 / 6 / 9;
    justify-self: center;
    width: 50%;
}

.scene3_3 .sne3 {
    align-self: end;
    grid-area: 7 / 10 / 8 / 11;
    justify-self: center;
    width: 40%;
}

.scene3_3 .sne4 {
    grid-area: 4 / 4 / 5 / 5;
    justify-self: center;
    width: 45%;
}

/* --- Scene 3.4 --- */

.scene3_4 {
    display: none;
}

.scene3_4 .astronaut {
    grid-area: 8 / 1 / 13 / 4;
    justify-self: end;
    width: 130%;
}

.scene3_4 .gif {
    align-self: center;
    grid-area: 1 / 4 / 13 / 10;
    justify-self: center;
    max-width: 90%;
}

/* --- Scene 3.5 --- */

.scene3_5 {
    background-image: url(img/baggrunde/nr5.jpg);
    background-position: center;
    display: none;
}

.scene3_5 .astronaut {
    align-self: end;
    grid-area: 5 / 2 / 12 / 4;
}

.scene3_5 .gryde {
    align-self: end;
    grid-area: 8 / 6 / 12 / 9;
}

/* Rød stjerne med termometer */

.scene3_5 .stjerne_rod {
    align-self: center;
    grid-area: 5 / 10 / 7 / 11;
    justify-self: center;
    width: 125%;
}

.scene3_5 .termo_mellem {
    align-items: center;
    display: flex;
    gap: 3%;
    grid-area: 4 / 10 / 6 / 13;
    justify-content: center;
}

.scene3_5 .termo_mellem .termo {
    rotate: 15deg;
    height: 75%;
}

.scene3_5 .termo_mellem .info_txt {
    align-self: flex-start;
    padding-top: 5%;
}

/* Blå stjerne med termometer */

.scene3_5 .stjerne_blaa {
    align-self: end;
    grid-area: 4 / 5 / 7 / 7;
    justify-self: flex-end;
    width: 80%;
}

.scene3_5 .termo_varm {
    display: flex;
    gap: 3%;
    grid-area: 3 / 4 / 5 / 6;
    justify-content: flex-end;
}

.scene3_5 .termo_varm .termo {
    align-self: flex-end;
    rotate: -20deg;
    height: 90%;
}

.scene3_5 .termo_varm .info_txt {
    align-self: center;
}

/* ----------- SCENE 4 -------------- */

.scene4_1 {
    display: none;
}

.scene4_1 .astronaut {
    grid-area: 6 / 5 / 13 / 9;
}

.scene4_1 .planetarisk_taage {
    align-self: center;
    grid-area: 2 / 2 / 8 / 6;
}

.scene4_1 .supernova {
    align-self: center;
    grid-area: 2 / 8 / 8 / 12;
}

.scene4_2 {
    display: none;
}

.scene4_2 .astronaut {
    grid-area: 11 / 4 / 13 / 5;
    width: 50%;
}

.scene4_2 .planetarisk_taage {
    align-self: center;
    grid-area: 2 / 2 / 9 / 7;
    width: 90%;
}

.scene4_2 .supernova {
    align-self: center;
    grid-area: 2 / 7 / 9 / 12;
    justify-self: end;
    width: 90%;
}

/* ----------- SCENE 5 -------------- */
/* --- Scene 5a.1 og 5b.1 --- */
.scene5_1 {
    background-image: url(img/baggrunde/nr5.jpg);
    background-position: center;
}

.scene5_1 .ur {
    grid-area: 1/1/2/2;
    /* transform: scale(0.1); */
   width: 100%;
   padding-left: 50px;
   padding-top: 30px;
}

.scene5_1 .astronaut {
    grid-area: 10/3/11/4;
    height: 115%;
}

.scene5_1 .gryde {
    grid-area: 8/7/10/10;
}

/* --- Scene 5a --- */

/* --- Scene 5b --- */


/* ----------- SCENE 6 --------------  */

/* --- Scene 6.1 --- */
.scene6_1 {
    display: none;
}

.scene6_1 .astronaut {
    grid-area: 4/4/13/10;
}

/* --- Scene 6.2 --- */
.scene6_2 {
   /*  display: none; */
}

.scene6_2 .astronaut {
    grid-area: 3/2/7/6;
}

.scene6_2 .info_txt {
    grid-area: 9/8/11/10;
    font-size: 2.5rem;
}


/* --- Scene 6_2a --- */
.scene6_2 .supernova {
    grid-area: 2/8/4/11;
}


/* --- Scene 6_2b --- */
.scene6_2 .planetarisk_taage {
    grid-area: 2/8/4/11;
}